.container-create-box {
 width:400px;
 margin:0 auto;
 text-align: center;
 border-radius: 5px;
}
.btn-create {
  padding-top: 30px;
  color: white;
}
.textcolor {
  color: white;
}
h1 {
padding-top: 20px;
padding-bottom: 30px;
}
