// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  height:630px;
}
.banner h1 {

  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;

}
.banner p {
  font-size: 16px;
  color: white;
  text-align: center;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
