.container-login {
 width:400px;
 margin:0 auto;
 text-align: center;
 border-radius: 5px;
}
.paddingtop {
  padding-top: 80px;
}
.paddingtop-login {
  padding-top: 80px;
}

h2 {
  color: black;
}

.form-actions {
 color: white;
 border-width: 2px;
 border-style: solid;
 border-color: #39C82C;
 border-radius: 5px;
 background-color: #39C82C
 }

.form-actions:hover{
color: white;
background-color: #47B53D;
}
