<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1797428/pexels-photo-1797428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>NextRoom</h1>
    <p>Rent a box for your stuff, <em><strong> all over the World !</strong></em></p>
    <!-- <form novalidate="novalidate" class="simple_form search" action="/boxes" accept-charset="UTF-8" method="get">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control form-group d-flex flex-sm-row">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-primary ml-4 justify-content-around">
          <i class="fas fa-search"></i> Find my Box!
        </button>
      </div>
    </form> -->

  <div class="container">
    <%= simple_form_for :search, url: boxes_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>
  </div>



  </div>
</div>
