<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1797428/pexels-photo-1797428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">

  <div class="row justify-content-center">
      <div class="col-12 col-lg-7">
        <h1>NextRoom</h1>
    <p>Rent a box for your stuff, <em><strong> all over the World !</strong></em></p>
    <div class="search-form-control form-group">
     <input type="search" id="address" class="search-form-control" placeholder="Type your address."/>
     <%= link_to "Search", boxes_path,:class => "btn btn-success btn-flat textcolor" %>
    <!--  <button name="button" type="submit" class="btn btn-success btn-flat textcolor" href="">Search</button> -->
    </div>
  </div>
  </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
  <script>
(function() {
  var placesAutocomplete = places({
    appId: 'plU96JNVKKQ0',
    apiKey: '790c50ff3f59f184e6061ef6257a0b9d',
    container: document.querySelector('#address')
  });

  var $address = document.querySelector('#address-value')
  placesAutocomplete.on('change', function(e) {
    $address.textContent = e.suggestion.value
  });

  placesAutocomplete.on('clear', function() {
    $address.textContent = 'none';
  });

})();
</script>
