<div class="container d-flex justify-content-center">

<div class="paddingtop">
<div class="confirmation">
<h2>Your reservation is confirmed!</h2>
</div>
<div class="space-between">
  <p>You will receive an email about this reservation.
See you soon!</p>
</div>
<%= link_to "Retour", user_path(current_user), class: "btn btn-success btn-block btn-lg" %>
</div>
</div>
