<div class="container d-flex justify-content-center">
<div class="confirmation">
  <h2>Your reservation is confirmed!</h2>
  <p>You will receive an email about this reservation.
See you soon!</p>
<button type="button" class="btn btn-success btn-lg">Retour</button>
</div>
</div>
