.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}
.rentyourbox {
  text-decoration: none;
  padding-top: 8px;
  width:
  150px;
}
.rentyourbox:hover{
  text-decoration: none;
  color: orange;
}
// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }
