// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
